<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Blackjack game</title>
</head>
<body>

<br><br><br>
<br>
<br><br><br>
<strong>Dealer</strong>
<br> 
Cards: {{ dealerShown}} 
<br>
<br>
<hr>
<strong>Player</strong>       
<br>
Cards: {{ playerHand }}
<br>
Values: {{ playerScore }}
<br>
Current Bet: $ {{ bet }} .00
<br>
Wallet: $ {{ wallet }}  
<br> 

 <form method="post" action="/blackjackgame/hit">
 <button>Hit me</button> 
 </form>
 <form method="post" action="/blackjackgame/stand">
 <button>Stand</button>
</form>
</body>
</html>