<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
  blah blah
 <!--  from hand.getValues(), which returns an int[]  -->
 <!--  java beans use the get syntax too -->
 {{ #hand.values }}
 
 	{{ . }}
 <!-- will provide output of array -->
 
 {{ /hand.values }}
 <!--  . because you're returning a primitive -->
 
 
 
 <!-- and this will show cards -->
 <!-- in Java you need" public List<Card> getCards() -->
 <!--   				  return cards;-->
 <!--  will return .cards and can loop  -->
 <!--  #hand because the gets are in the Hand class -->
 <!--  can also pull from the Card class, ex. suit and cardDisplay -->
 
 {{ #hand.cards }}
 	{{ suit }} {{ cardDisplay }}
 {{ /handle.cards }}
 
 <!--  not a . because you're returning a named thing - currentValue.getSuit() -->
 
</body>
</html>